<div class="row">
    <div class="col">
        <nav class="navbar navbar-expand-lg navbar-dark white block-color">
            <span class="navbar-brand">Жанры</span>
            <span class="navbar-brand">Сортировка</span>
            <form class="form-inline my-2 my-lg-0 mr-auto">
                <input class="form-control mr-sm-2" type="search" placeholder="Найти игру" aria-label="Search">
                <button class="btn my-2 my-sm-0 btn-grad" type="submit">Поиск</button>
            </form>
        </nav>
    </div>
</div>
<div class="row mt-3">
    @foreach (Game game in Model)
    {
        <div class="col-sm">
            <div class="card block-color mb-3">
                <img src="@game.Cover" width="300" height="400" class="card-img-top" alt="...">
                <div class="card-body d-flex justify-content-between">
                    <h2 class="card-title">5000 ₽</h2>
                    <button class="btn my-2 my-sm-0 btn-grad ml-auto" type="submit">Купить</button>
                </div>
            </div>
        </div>
    }
</div>