<header class="white block-color">
    <nav class="navbar navbar-expand-lg navbar-dark white">
        <div class="container">
            <a class="navbar-brand title" href="#">SKORPION</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Игры</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Корзина</a>
                    </li>
                </ul>
                <div class="my-2 my-lg-0">
                    <a class="btn mr-sm-2 primary-color white btn-grad" href="#">Логин</a>
                    <a class="btn primary-color white btn-grad" href="#">Регистрация</a>
                </div>
            </div>
        </div>
    </nav>
</header>