<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand title text-primary abs" asp-action="Index">SKORPION</a>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Header navigation">
                <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarHeader">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Catalog">Игры</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Cart">Корзина</a>
                    </li>
                </ul>
                <div class="d-flex ms-auto">
                    <a type="button" class="btn btn-lg btn-outline-primary me-2" asp-action="SignIn">
                        Войти
                    </a>
                    <a type="button" class="btn btn-primary btn-lg" asp-action="SignUp">
                        Регистрация
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>