<!DOCTYPE html>
<html lang="ru">
<head>
    @await Html.PartialAsync("_CssPartial")
    @await Html.PartialAsync("_MetatagsPartial")
</head>
<body>
@await Html.PartialAsync("_HeaderPartial")
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
@await Html.PartialAsync("_ScriptsPartial")
@await RenderSectionAsync("Scripts", false)
</body>
</html>