@{
    ViewData["Title"] = "Корзина";
}
<div class="mt-3 h-100 row align-items-center">
    <div class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Ваша корзина</h1>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Опция</th>
            </tr>
            @foreach (var item in ViewBag.cart)
            {
                <tr>
                    <td>@if (ViewBag.cook == 0) {@item.Game.Id} else {@item.Id}</td>
                    <td>@if (ViewBag.cook == 0) {@item.Game.Title} else {@item.Title}</td>
                    <td>@if (ViewBag.cook == 0) {@item.Game.Price} else {@item.Price}</td>
                    <td>
                        <a asp-controller="cart" asp-action="remove" asp-route-id="@if (ViewBag.cook == 0) {@item.Game.Id} else {@item.Id}">Удалить</a>
                    </td>
                </tr>
            }
            <tr>
                <td>Сумма: @ViewBag.total</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <br>
        <a asp-controller="Catalog" asp-action="index" class="w-100 btn btn-lg btn-primary">Продолжить покупки</a>
        <a asp-controller="Cart" asp-action="Checkout" class="w-100 btn btn-lg btn-primary mt-1">Оформить заказ</a>
    </div>
</div>